html, body {
  font-family: 'Roboto';
}
table {
  width: 100%;
  margin-bottom: 80px;
}
.table-rows {
  &.less-row {
    background-color: #FFDDBD !important;
  }
}
.table {
  margin: 0 auto;
  border-collapse: collapse;
    td, th {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }
    tr:nth-child(even) {
      background-color: #F3F9FF;
    }
    tr:nth-child(1):hover{
      background-color: unset;
    }
    tr:hover {
      background-color: rgb(243, 243, 243);
    }
    th {
      cursor: pointer;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color:  rgba(0, 0, 0, 0.05);;
      color: black;
      i {
        margin: 5px;
      }
    }
}